name: Publish effector documentation to xai-effector/effector.github.io

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build-documentation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout current repo
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs mkdocstrings mkdocstrings-python mkdocs-material

    - name: Build docs
      run: |
        cd docs
        mkdocs build
        cd ..

    - name: Save site site as artifact
      uses: actions/upload-artifact@v2
      with:
        name: docs-site
        path: docs/site

  push-site:
    name: Copy site to effector.github.io
    needs:
    - build-documentation

    runs-on: ubuntu-latest

    steps:
    - name: Download the site as artifact
      uses: actions/download-artifact@v2
      with:
        name: docs-site
        path: site

    - name: Clone xai-effector.github.io and checkout gh-pages branch
      uses: actions/checkout@v2
      with:
          repository: xai-effector/xai-effector.github.io
          ref: gh-pages
          token: ${{ secrets.EFFECTOR_GITHUB_API_KEY }}
          path: xai-effector.github.io

    - name: rm old site and copy new site
      run: |
          rm -rf xai-effector.github.io/*
          cp -r site/* xai-effector.github.io

    - name: commit and push
      run: |
          cd xai-effector.github.io
          git config --global user.email "ntipakos@gmail.com"
          git config --global user.name "ntipakos"
          git add .
          git commit -m "Update site from ntipakos/effector"
          git push --force origin gh-pages